.footer__copyright {
  color: #545454;
  margin: 67px 0 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
}

@media screen and (max-width: 600px) {
  .footer__copyright {
    font-size: 14px;
    margin-left: 19px;
  }
}
