.elements__container {
  max-width: 880px;
  margin: 0 auto;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  grid-gap: 20px 17px;
}

@media screen and (max-width: 900px) {
  .elements__container {
    grid-template-columns: repeat(2, minmax(282px, 1fr));
    grid-row-gap: 17px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 600px) {
  .elements__container {
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}
